<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.NFC_TRANSACTION_EVENT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/aic_fill"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AICEmu"
        android:name=".GlobalVar"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AICEmu">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ReadCard"
            android:theme="@style/CardActivityTheme" />

        <service
            android:name=".EmuCard"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_NFCF_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_nfcf_service"
                android:resource="@xml/host_nfcf_service" />
        </service>


    </application>


</manifest>